<h2 class="country-name">{{name}}</h2>
<div class="card-container">
    <div class="info-container">
        <ul class="country-info">
            <li><span class="accent">Capital:</span> {{capital}}</li>
            <li><span class="accent">Population:</span> {{population}}</li>
            <li><span class="accent">Languages:</span>
                <ul class="languages-list">
                    {{#each languages}}
                    <li>{{name}}</li>
                    {{/each}}
                </ul>
            </li>
        </ul>
    </div>
    <div class="flag-container">
        <img src="{{flag}}" alt="{{name}}">
    </div>
</div>